node_modules
uploads
output
.vscode
.idea
.eslintrc.yml
.gitignore
.dockerignore
.huskyrc
.git
VERSION
LICENSE
README.md
Dockerfile
*.zip
package-lock.json
test.js
service.json
globalDef.json
envVars.json